.service-card {
    background-color: #acc878;
    padding: 50px 38px;
    transition: all .3s ease-in-out;

    &:hover {
        transform: scale(1.08, 1.08);
     
        .service-link {
            opacity: 1;
        }

        .service-icon {
                transform: scale(0.9);
        }
    }

    .service-icon {
        width: 256px;
        min-width: 256px;
        height: 256px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        transition: all .3s ease-in-out;
    }

    .service-link {
        opacity: 0;
        text-decoration: none;
        transition: all .3s ease-in-out;
    }
}