.choose-card {
        background: var(--bs-gray-100);
    padding: 20px;
    border: 1px solid var(--bs-border-color);
    border-radius: 8px;
    .choose-icon {
        width: 90px;
        min-width: 90px;
        height: 90px;
    }
}